table.cell a {
	display: block;
	text-decoration: none;
	margin-top: 20px;
	margin-left: 20px;
	color: blue;
	font-size: 20px;
}
table.cell h2 {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 12px;
	font-family: "arial black";
	color: lightslategray;
}

table.cell div {
	border:1px solid lightgray;
	border-radius: 5px;
	width: 300px;
	height: 150px;
}

.contributions {
	width: 630px;
	height: 300px;
	border: 1px solid lightslategray;
	border-radius: 5px;
}
