 body {
 	  margin-left: 0px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      background-color: #FDFDE0;
 }
h1.title {
	color: dodgerblue;
	font-family: "微软雅黑";
	font-size: 20px;
}
div.all {
	border: 1px solid lightslategray;
	width: 789px;
	text-align: left;
	border-radius: 10px;
}
#perCenter {
	margin: auto;
}
div p,h1 {
	margin: 20px;
}
/*文本框内部的实现列表样式*/
div ul {
	list-style-type: disc;
}
div li {
	margin-left: 20px;
}

