 body {
 	  margin-left: 0px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      font-size: 12px;
      color: #999999;
      background-color: #FDFDE0;
 }
 .style1 {
 	font-size: 24px;
    color: #fdfdf0;	
 }
 .style2 {
 	font-size: 24px;
    color: #000000;
 }
 .style3 {
 	font-size: 14px;
    color: #000000; 	
    /*text-indent 文本缩进*/
    text-indent: 1cm;
 }
    